@charset "UTF-8";

/* use this font to have scaleable vector icons that you can change styles with css. 
reference for character mapping here: http://www.justbenicestudio.com/studio/websymbols/ */

@font-face{ 
	font-family: 'WebSymbolsRegular';
    src: url('img/fonts/websymbols-regular-webfont.eot');
    src: url('img/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('img/fonts/websymbols-regular-webfont.woff') format('woff'),
         url('img/fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('img/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-font {
	font-family: 'WebSymbolsRegular';
}

/* prevent images from extending beyond their container or mobile viewport */
img { max-width:100%; background:url(img/ratio-loading.gif) no-repeat center center; background-size:50% auto; }

.center {
	text-align:center;
	margin:0 auto;	
}
.right { float:right; }

.pad-right { padding-right:10px; }
.margin-bottom-ten { margin-bottom:10px; }

.icon-only > .ui-btn-inner {
	height:15px;
	padding-left:18px !important;	
}

.ui-btn-taller { padding:30px 0 ; }

.ui-page { transform:translateZ(0); }
.ui-icon-loading { background:url(img/ratio-loading.gif) no-repeat center center; background-size:100% auto; opacity:1 !important; }
.ui-loader { border-radius:50%; height:80px !important; width:70px !important; padding-top:30px; margin-left:-70px !important; margin-top:-75px !important; }
.spin { transform:rotate(0deg) !important; animation-name:none; width:70px !important; height:30px !important; }
.ui-btn-corner-all { border-radius:0 !important; }
.ui-btn-up-c, .ui-btn-hover-c { background:none; }
.ui-btn-down-c { border-top-color: #ccc !important; }
.ui-btn-active, .ui-btn-active a { color:#111 !important; text-shadow:none; border-top-color:#ccc !important; }
.ui-btn-up-c a.ui-link-inherit { color:#333; }

#nerd img {
    width:250px;
    max-height:500px;
}

#new-nerd-meta-btn {
    margin-top:50px;
    display:block;
    width:285px;
}

h1#name {
    text-shadow:0 1px 0 white, 0 -1px 0 #aaa;
    font-size:21px;
    margin-bottom:4px;
    color:#ccc;
}

#nerd-info li span.icon-font {
    width:20px; 
    display:inline-block;
    text-align:center;
    color:#999;
}