@charset "UTF-8";

/* use this font to have scaleable vector icons that you can change styles with css. 
reference for character mapping here: http://www.justbenicestudio.com/studio/websymbols/ */

@font-face{ 
	font-family: 'WebSymbolsRegular';
    src: url('img/fonts/websymbols-regular-webfont.eot');
    src: url('img/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('img/fonts/websymbols-regular-webfont.woff') format('woff'),
         url('img/fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('img/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-font {
	font-family: 'WebSymbolsRegular';
}

/* prevent images from extending beyond their container or mobile viewport */
img { max-width:100%; background:url(img/ratio-loading.gif) no-repeat center center; background-size:50% auto; }

.center {
	text-align:center;
	margin:0 auto;	
}

.pad-right { padding-right:5px; }

.icon-only > .ui-btn-inner {
	height:15px;
	padding-left:18px !important;	
}

.ui-btn-taller { padding:30px 0 ; }

.ui-page { transform:translateZ(0); }

#nerd img {
    width:250px;
    height:250px;
}